<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main">
        <h1>Enter Name for Capture</h1>
        <input type="text" id="nameInput" class="input-field" placeholder="Enter your name" />
        <button class="btn" id="startCaptureButton">Start Capturing</button>

        <div id="status"></div>
        <a href="/index" class="btn">Home</a>
    </div>
    <script src="{{ url_for('static', filename='js/capture.js') }}"></script>
</body>
</html>
